header{
    text-align: center;
    font-size: xx-large;
    position: relative;
    animation: anime 2s ease 1s infinite;
}

@keyframes anime {
    0% {top: 0px;}
    50% {top: 100px;}
    100% {top: 0px;}
  }

p.a{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 600px;
}
p.b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
body{
    background-image: url(background.jpg);
}
.Square{
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid white;
    background: linear-gradient(320deg, #12d78b, #92deeb, #eb92be);
    justify-content: center;
    height: auto;
    align-items : center;
}
.Square > div{
    justify-content: center;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 1em;
    font-size: 30px;
    height: auto;
}