/* === Canvas === */
canvas {
    display: block;
    background-color: #f0f1dd;
    margin: 20px auto;
    border: 5px solid #ccc;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}